/**********************************************/
/**********************************************/
/************ TABLE OF CONTENTS ***************/
/**********************************************/
/**********************************************/
/************ 1) Social bar *******************/
/************ 2) NAV BAR    *******************/
/************ 3) Image logo *******************/
/************ 4) Services   *******************/
/************ 5) Bottom Nav *******************/
/************ 6) Footer     *******************/
/************ 6)      *******************/
/**********************************************/
/**********************************************/


/**********************************************/
/* shortcut binded colors/sizes */
/**********************************************/

/* Background colors */
$ht-top: #676767; /*header top */
$fb: #262626; /* footer bottom */
$scb: #f5f5f5; /* 1) social contact bar  */

/* text colors */
$text: #717171; /* fa */

$bc: #F3E335; /* button color */

/* font sizes */
$h2nav: 1.5em;

$fntf: 'Lato', sans-serif; /* font family */

/**********************************************/
/* HTML ELEMENTS related */
/**********************************************/

body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: $fntf !important;
    color: #000;
}

html, body{
    overflow-x: hidden;
}

p{
    font-size: 1em;
}

ul li{
    list-style:none;
}

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/*  MIXINS                *********************/
/**********************************************/

/* Vertically Align Text */
@mixin translateY($trans) {
    top: -$trans;
    -webkit-transform: translateY($trans);
    -moz-transform: translateY($trans);
    -ms-transform: translateY($trans);
    transform: translateY($trans);
}

@mixin paddingXY($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

/**********************************************/
/**********************************************/
/**********************************************/

.vertically-align-text {
    @include translateY (-50%);
}

.vertically-align-text2 {
    @include translateY (50%);
}

.color-fa{ /* used for <i> fa */
    color: $text;
}

.vertical-div{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;
}

/**********************************************/
/* 1) SOCIAL BAR          *********************/
/**********************************************/

#social-contact-bar{
    position: relative;
    background-color: $scb;
    @include paddingXY (2%, 4%);
}

.text-vertical{
    display: flex;
    align-items: center;
}

.img-testy{
    height: 100px;
}

/**********************************************/
/**********************************************/
/**********************************************/

/**********************************************/
/* 2) NAV BAR NAVIGATION  *********************/
/**********************************************/



nav{
    z-index: 2;

    .navbar-brand{
        h1{
            font-size: 2em;
        }
    }

    ul li{
        margin-right: 10px;
        &:hover{
            background-color: #e0e0e0;
        }

        a{
            font-size: 1em;
            white-space: nowrap; //white-space + overflow
            overflow: hidden;    //prevent text going into newline
        }

        &.active{
            background-color: #e0e0e0;
            border-right: 5px solid #fff646;
        }
    }
}

.navbar{
    width: 100%;

    //    .navbar-nav{
    //        display: inline-block;
    //        float: none;
    //    }

    //    .navbar-collapse{
    //        text-align: center;
    //    }
}

.ontop {
    right: 0;
    left: 0;
}

/**********************************************/
/**********************************************/
/**********************************************/

/**********************************************/
/* 3) IMAGE LOGO (BELOW NAV)  *****************/
/**********************************************/


#nav-fix-spacing{
    margin-top: 127px;
}


#overlay-text{
    left: 15%;
    top: 100px;
    position: relative;
    z-index: 3;
    height: 50%;
    width: 25%;
    background-color: rgba( 1, 1, 1, .5);

}

.estimate-box{
    background-color: #e6e6e6;
    padding-top: 8px;
    padding-bottom: 8px;

}

/**********************************************/
/**********************************************/
/**********************************************/

/**********************************************/
/* 4) SERVICES IMAGE NAVIGATION  */
/**********************************************/

#services-navigation{
    background-color: #f0f0f0;

    h2{
        font-size: 1em;
        text-align: center;
    }
}

.box-holder{
    height: 200px;
}

.service-box-color{
    background-color: #d7d7d7;
}


.service-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

    &:hover{
        opacity: .6;
    }
}

.services-side-bar{
    position: fixed;
    height: 40%;
    margin-top: 100px;
    z-index: 1;

    #services-side-nav{
        padding: 10px;
        background-color: white;
        border-left: 10px solid rgb(114, 114, 114);
        box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        ul{
            margin: 0;
            padding: 0;
            li{
                padding-top: 2px;
                border-bottom: 1px solid rgba(24, 24, 126, 0.2);

                &:hover{
                    background-color: #e0e0e0;
                    padding: 2px;
                }
            }
        }
    }
}

#hider{
    display:none;
}

.services-text{
    background-color: #f6f6f6;
    height: 300px;
    padding: 0px 0px 50px 0px;
}

/*Horizontal scrolling gallery*/
.services-gallery{
    background-color: $scb;
}

img.box{
    width:350px;
    height: 150px;
    margin: 20px 10px 0 10px;
    box-shadow: 0 0 10px #000;
}

.scroll {
  height: 180px;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 0 10px #000;
}
/*End Horizontal scrolling gallery*/


/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/* 5. BOTTOM NAVIGATION  */
/**********************************************/

#bottom-navigation{
    width: 100%;
    background-color: #e6e6e6;

    h2{
        color: #464646;
    }

    ul{
        padding-left: 5px;
        li{
            padding: 5px;

            a{
                padding: 5px;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 3px;
                color: #000;
                text-decoration: none;

                &.active{
                    background-color: $scb;
                }
            }


        }
    }
}

/**********************************************/
/**********************************************/
/**********************************************/


/**********************************************/
/* 6. FOOTER  */
/**********************************************/

#footer-color{
    background-color: $fb;
    text-align: left;
    position: relative;

    p{
        font-size: 1em;
        color: #fff;
        position: relative;
    }
}

/**********************************************/
/**********************************************/
/**********************************************/

/**********************************************/
/* ABOUT PAGE  */
/**********************************************/

.about-text{
    background-color: #f6f6f6;
    height: 400px;
    padding: 50px 0px 50px 0px;
}

.abcd{
    background-color: #fbfbfb;
}

.abc{
    //    padding-top: 20px;
    //    padding-bottom: 80px;
    padding-left: 20%;
    padding-right: 20%;
}

.temp-box{
    max-width: 100% !important;
    height: auto;
    width: auto;
}

.sheep2{
    position:absolute;
    left: 25%;
    margin-top: 10%;
}

img.stretched {
    max-height:400px;
    min-height:200px;
    width:100%;
}

//.dream-home{ may delete
//    height: 300px;
//    background-image: url('../images/dream2.jpg');
//    /* Create the parallax scrolling effect */
//    background-attachment: fixed;
//    background-position: center;
//    background-repeat: no-repeat;
//    background-size: cover;
//}

.cont-color{
    height: 100%;
    background-color: rgba(48, 49, 51, .8);
}

/**********************************************/
/* Contact page related */
/**********************************************/

#cp-color{
    background-color: #f3f3f3;
}

#cp-box{
    background-color: #e2e2e2;
    box-shadow:0 7px 25px 1px rgba(0,0,0,0.08);
}

span{
    font-size: 2em;
}

.btn-color{
    background-color: #F3E335;
}

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/* OTHER **************************************/
/**********************************************/

.text-lineheight{
    line-height: 1.2;
}

.button{
    background-color: $bc; /* Green */
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.margin-top{
    margin-top: 20px;
}


.text-align-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.box-shadow{
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}


/**********************************************/
/* BOOTSTRAP CAROUSEL CHANGES******************/
/**********************************************/


.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
