/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/************ TABLE OF CONTENTS ***************/
/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/************ 1) Social bar *******************/
/************ 2) NAV BAR    *******************/
/************ 3) Image logo *******************/
/************ 4) Services   *******************/
/************ 5)            *******************/
/************ 6)            *******************/
/**********************************************/
/**********************************************/
/**********************************************/
/* Background colors */
/*header top */
/* footer bottom */
/* 1) social contact bar  */
/* text colors */
/* button color */
/* font sizes */
/* font family */
/**********************************************/
/*  MIXINS                *********************/
/**********************************************/
/* Vertically Align Text */
/**********************************************/
/**********************************************/
/**********************************************/
.vertically-align-text {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.color-white {
  /* used for <i> fa */
  color: #fff; }

/**********************************************/
/* 1) SOCIAL BAR          *********************/
/**********************************************/
#social-contact-bar {
  position: relative;
  background-color: #676767;
  padding-top: 2%;
  padding-bottom: 4%;
  color: #fff; }

.text-vertical {
  display: flex;
  align-items: center; }

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/* 2) NAV BAR NAVIGATION  *********************/
/**********************************************/
nav {
  z-index: 2; }
  nav ul li {
    margin-right: 10px; }
    nav ul li:hover {
      background-color: #9a9a9a; }
    nav ul li a {
      font-size: 1em;
      white-space: nowrap;
      overflow: hidden; }
    nav ul li.active {
      background-color: #9a9a9a;
      border-right: 5px solid #fff; }

.navbar {
  width: 100%; }

.ontop {
  right: 0;
  left: 0; }

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/* 3) IMAGE LOGO (BELOW NAV)  *****************/
/**********************************************/
#image-logo-bar img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 350px; }

.img-box {
  height: 350px;
  width: 100%; }

#overlay-text {
  left: 15%;
  top: 100px;
  position: relative;
  z-index: 3;
  height: 50%;
  width: 25%;
  background-color: rgba(1, 1, 1, 0.5); }

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/* 4) SERVICES IMAGE NAVIGATION  */
/**********************************************/
#services-navigation {
  background-color: #dedede; }
  #services-navigation h2 {
    font-size: 1em;
    text-align: center; }

.box-holder {
  height: 200px; }

.service-box-color {
  background-color: #aaaaaa; }

.service-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center; }
  .service-box:hover {
    opacity: .6; }

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/* BOTTOM NAVIGATION  */
/**********************************************/
#bottom-navigation {
  width: 100%;
  background-color: #9f9f9f; }
  #bottom-navigation .button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; }
  #bottom-navigation h2 {
    color: #464646; }
  #bottom-navigation ul {
    padding-left: 5px; }
    #bottom-navigation ul li {
      padding: 5px; }
      #bottom-navigation ul li a {
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        color: #fff;
        text-decoration: none; }
        #bottom-navigation ul li a.active {
          background-color: #676767; }

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/* FOOTER  */
/**********************************************/
#footer-color {
  background-color: #262626;
  text-align: left;
  position: relative; }
  #footer-color p {
    font-size: 1em;
    color: #fff;
    position: relative; }

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/* ABOUT PAGE  */
/**********************************************/
.about-text {
  background-color: #e2e2e2;
  height: 400px;
  padding-top: 100px; }

.abcd {
  background-color: #c4c4c4; }

.abc {
  padding-top: 20px;
  padding-bottom: 80px;
  padding-left: 20%;
  padding-right: 20%; }

.temp-box {
  max-width: 100% !important;
  height: auto;
  width: auto; }

.sheep2 {
  position: absolute;
  left: 25%;
  margin-top: 10%; }

img.stretched {
  max-height: 400px;
  min-height: 200px;
  width: 100%; }

/**********************************************/
/* Contact page related */
/**********************************************/
#cp-color {
  background-color: #f3f3f3; }

#cp-box {
  background-color: #e2e2e2; }

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/* HTML ELEMENTS related */
/**********************************************/
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif !important; }

p {
  font-size: 1em; }

ul li {
  list-style: none; }

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/
/* OTHER **************************************/
/**********************************************/
#googleMap {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(175, 175, 175, 0.19);
  text-align: center; }

.margin-top {
  margin-top: 20px; }

.text-align-center {
  text-align: center; }

.text-left {
  text-align: left; }

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/*# sourceMappingURL=sass.css.map */
